SS_BASE_URL="http://locahost"
SS_ERROR_LOG=error.log
SS_DATABASE_TIMEZONE=SYSTEM
SS_DATABASE_CLASS="MySQLDatabase"
SS_ENVIRONMENT_TYPE="dev"
SS_DEFAULT_ADMIN_USERNAME="admin"
SS_DEFAULT_ADMIN_PASSWORD="password"
SS_DATABASE_SERVER="localhost"
SS_DATABASE_USERNAME="root"
SS_DATABASE_PASSWORD=""
SS_DATABASE_NAME="SS_mysite"
DEBUGBAR_DISABLE=true

# Services
SS_WEATHER_API_ENDPOINT="https://wttr.in/"


# MFA
# SS_MFA_SECRET_KEY="SS_MFA_SECRET_KEY"

# BASEAPI_DISABLE_HTTPS=1
# BASEAPI_DISABLE_IP_WHITELIST=1
